<div id="editModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="/users/<%=user.user_id%>" method="POST" enctype="multipart/form-data">
            <div class="dialog-content">
                <div class="dialog-header">
                    <div class="dialog-title">Chỉnh sửa trang cá nhân</div>
                </div>
                <div class="dialog-body">
                    <div class="inf-avatar">
                        <div class="avatar">
                            <img class="avatar-edit" id="avatar_change" src="<%=user.avatar%>" alt="" />
                        </div>
                        <label class="addAva" id="addAVA">
                            <input type="file" accept="image/*" name="avatar_change" id="file_avatar"
                                onchange="changeAvatar(event)">
                        </label>
                    </div>
                    <div class="inf-profile">
                        <div class="acc-fname">
                            <div style="flex-grow: 1;">
                                Tên tài khoản:<input type="text" name="user_id" value="<%=user.user_id%>" readonly />
                            </div>
                            <div style="flex-grow: 1;">
                                Họ tên:<input name="fullname" type="text" value="<%=user.fullname%>" />
                            </div>
                        </div>
                        <div class="class-dob">
                            <div style="flex-grow: 1;">
                                Mã lớp:<input type="text" name="class_id" value="<%=user.class_id%>" />
                            </div>
                            <div style="flex-grow: 1;">
                                Ngày sinh:<input type="date" class="birthday" name="birthday"
                                    value="<%=user.birthday%>" />
                            </div>
                        </div>
                        <div class="gender-div">
                            <label>Giới tính:&emsp;</label>
                            <input type="radio" id="male" name="gender" value="1" />
                            <label for="male">Nam &emsp;&emsp;&emsp;&emsp;</label>
                            <input type="radio" id="female" name="gender" value="0" />
                            <label for="female">Nữ &emsp;&emsp;&emsp;&emsp;</label>
                            <input type="radio" id="other" name="gender" value="0" />
                            <label for="other">Khác &emsp;</label>
                        </div>
                        <div class="home-status">
                            <div style="flex-grow: 1;">
                                Quê quán:<input type="text" name="hometown" value="<%=user.hometown%>"
                                    class="txtHometown" />
                            </div>
                            <div style="flex-grow: 1;">
                                Tình trạng:<select name="status" id="relation-select">
                                    <option value="1">Độc thân</option>
                                    <option value="2">Đang trong mối quan hệ</option>
                                    <option value="3">Đã kết hôn</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="dialog-footer">
                    <button id="btnSave" type="submit" class="btn-default">Lưu</button>
                </div>
            </div>
        </form>
    </div>
</div>