<!DOCTYPE html>
<html lang="en">

<head>
    <title>TwentyOneGram</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/CSS/home.css">
    <link rel="stylesheet" type="text/css" href="/CSS/dialogUser.css" />
    <link rel="stylesheet" type="text/css" href="/CSS/user.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <%- include('../template/header.ejs', {user: user_curr}) %>
    <div class="contents">
        <%- include('../template/profile.ejs', {user: user, user_curr: user_curr, checkfollow: checkfollow}) %>
        <br />
        <% if(user_curr.user_id == user.user_id) { %>
            <%- include('../template/newpost.ejs', {user: user}) %>
        <% } %>
        <%-include('../template/dialog.ejs', {user: user})%>
        <div class="posts">
            <% posts.forEach(function(post){ %>
               <%- include('../template/post.ejs', {post: post, arrLoves: arrLoves, comments: comments}) %>
            <% }); %>
        </div>
        <script type="text/javascript" src="/js/home.js"></script>
        <script type="text/javascript" src="/js/profile.js"></script>
    </div>
</body>

</html>