<div class="article">
    <div class="article-header">
        <img src="<%=post.avatar%>" class="avatar-header" alt="avatar" style="flex-grow: 1;">
        <a href="/users/<%=post.user_id%>" style="margin-left: 2%;flex-grow: 1;"><b>
                <%=post.user_id%>
            </b></a>
        <div style="flex-grow: 1200;"></div>
        <div class="popup" style="flex-grow: 1;" class="notification">
            <img src="/icons/options.png" style="width: 20px;height: 20px;flex-grow: 1;cursor: pointer;" onclick="openOptions(this)" alt="options">
            <span class="options">
                <% if(user.user_id == post.user_id){ %>
                    <div style="display:flex;flex-direction: row;align-items: center; padding-left: 10%;" name="<%=post.post_id%>" onclick="deletePost(this)"><img src="/icons/delete.png" style="width: 20px;height: 20px;margin-right: 5%;" alt="delete">Xóa bài</div>
                    <div style="display:flex;flex-direction: row;align-items: center;padding-left: 10%;margin-top: 3%;" onclick="editPost(this)"><img src="/icons/edit.png" style="width: 20px;height: 20px;margin-right: 5%;" alt="delete">Sửa bài</div>
                    <%-include('./editpost.ejs', {user: user, post: post})%>
                    <div style="display:flex;flex-direction: row;align-items: center;padding-left: 10%;margin-top: 3%;"><img src="/icons/share.png" style="width: 20px;height: 20px;margin-right: 5%;" alt="delete">Chia sẻ</div>
                <%} else { %>
                    <div style="display:flex;flex-direction: row;align-items: center;padding-left: 10%;"><img src="/icons/share.png" style="width: 20px;height: 20px;margin-right: 5%;" alt="delete">Chia sẻ</div>
                <% } %>
            </span>
        </div>
    </div>
    <div class="images">
        <img class="image-item" src="<%=post.img_url%>" alt="image-status">
    </div>
    <div class="reacts-icons">
        <%if(arrLoves.includes(post.post_id)) { %>
            <svg fill="#ed4956" name="<%=post.post_id%>" class="btn-like" onclick="React(this)" height="24" viewBox="0 0 48 48"
                width="24">
                <path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 
                    0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 
                    5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 
                    1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
                </path>
            </svg>
            <% } else { %>
            <svg fill="#999999" name="<%=post.post_id%>"  class="btn-like" onclick="React(this)" height="24" viewBox="0 0 48 48"
                    width="24">
                <path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 
                        0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 
                        5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 
                        1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
                </path>
            </svg>
            <%}%>
            <span>
                <svg aria-label="Comment" fill="#262626" height="24" viewBox="0 0 48 48" width="24">
                    <path clip-rule="evenodd" d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 
                    .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 
                    1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 
                    8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 
                    0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z" fill-rule="evenodd">
                    </path>
                </svg>
            </span>
            <span>
                <a href="/chat">
                    <!--fix chat sau-->
                    <svg aria-label="Direct" fill="#262626" height="22" viewBox="0 0 48 48" width="22">
                        <path d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3 3.5.1 4S0 5.2.4 
                        5.7l15.9 15.6 5.5 22.6c.1.6.6 1 1.2 1.1h.2c.5 0 1-.3 1.3-.7l23.2-39c.4-.4.4-1 
                        .1-1.5zM5.2 6.1h35.5L18 18.7 5.2 6.1zm18.7 33.6l-4.4-18.4L42.4 8.6 23.9 39.7z">
                        </path>
                    </svg>
                </a>
        </span>
    </div>
    <div class="time-like">
        <span name="<%=post.num_of_loves%>"><%=post.num_of_loves%> Like</span>
        <%function timeDifference(current, previous) { %>

            <%var msPerMinute = 60 * 1000;%>
            <%var msPerHour = msPerMinute * 60;%>
            <%var msPerDay = msPerHour * 24;%>
            <%var msPerMonth = msPerDay * 30;%>
            <%var msPerYear = msPerDay * 365;%>
        
            <%var elapsed = current - previous;%>
        
            <%if (elapsed < msPerMinute) {%>
                <% return Math.round(elapsed/1000) + ' giây trước';  %> 
            <%} else if (elapsed < msPerHour) { %>
                 <%return Math.round(elapsed/msPerMinute) + ' phút trước';  %>
            <%}else if (elapsed < msPerDay ) {%>
                <%return Math.round(elapsed/msPerHour ) + ' giờ trước';  %> 
            <%}else if (elapsed < msPerMonth) {%>
                <%return Math.round(elapsed/msPerDay) + ' ngày trước'; %>  
            <%}else if (elapsed < msPerYear) {%>
                <%return Math.round(elapsed/msPerMonth) + ' tháng trước';%> 
            <%}else {%>
                <%return Math.round(elapsed/msPerYear ) + ' năm trước';%> 
            <%} } %>

            <% let time = timeDifference(new Date().getTime(), post.timestamp.getTime()) %>
        <small><%=time%></small>
    </div>
    <div class="captions">
        <span>
            <a href="/users/<%=post.user_id%>"><%=post.user_id%>:</a>
            <%=post.caption%>
        </span>
    </div>
    <hr>
    <div class="comments">
        <% comments.forEach(function(comment) { %>
            <% if(comment.post_id == post.post_id) { %>
                <%-include('./comment.ejs', {comment: comment})%>
        <% } } ) %>
    </div>
    <div class="new-comment form-cmt">
        <span>
            <svg aria-label="Emoji" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24">
                <path d="M24 48C10.8 48 0 37.2 0 24S10.8 0 24 0s24 10.8 24 24-10.8 24-24 24zm0-45C12.4 
                        3 3 12.4 3 24s9.4 21 21 21 21-9.4 21-21S35.6 3 24 3z">
                </path>
                <path d="M34.9 24c0-1.4-1.1-2.5-2.5-2.5s-2.5 1.1-2.5 2.5 1.1 2.5 2.5 2.5 2.5-1.1
                         2.5-2.5zm-21.8 0c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5-1.1 2.5-2.5 
                         2.5-2.5-1.1-2.5-2.5zM24 37.3c-5.2 0-8-3.5-8.2-3.7-.5-.6-.4-1.6.2-2.1.6-.5 
                         1.6-.4 2.1.2.1.1 2.1 2.5 5.8 2.5 3.7 0 5.8-2.5 5.8-2.5.5-.6 1.5-.7 2.1-.2.6.5.7 
                         1.5.2 2.1 0 .2-2.8 3.7-8 3.7z">
                </path>
            </svg>
        </span>
        <textarea name="comment" class="comment" placeholder="Thêm bình luận" cols="85" rows="2"></textarea>
        <button class="post-btn" name="<%=post.post_id%>"onclick="Comment(this)">Post</button>
    </div>
</div>
