
    <div class="avatar-profile">
      <div class="avatar">
        <img class="avatar-image" src="<%=user.avatar%>" alt="Ảnh đại diện" />
      </div>
      <div class="profile">
        <div class="id-editbtn">
          <div class="id-name"><%=user.user_id%></div>
          <% if(user.user_id !== user_curr.user_id) {%>
          <div id="inbox-btn" onclick="Chat(this)" class="btn-inbox" style="visibility: visible">
            Nhắn tin
          </div>
          <% if(checkfollow == 0){ %>
          <button id="follow-btn" name="<%=user.user_id%>" value="0" onclick="Follow(this)" class="btnfollow" style="visibility: visible">
            Theo dõi
          </button>
          <% } else { %>
            <button id="follow-btn" name="<%=user.user_id%>" value="1" onclick="Follow(this)" class="btnfollow" style="visibility: visible">
              Đang theo dõi
            </button>
          <% } }else {%>
            <img src="/images/settings.png" id="btn-edit-profile" onclick="openEditProfile()" class="edit-profile"/>
          <% } %> 
        </div>
        <div class="fullname-class">
          <div class="fullname"><%=user.fullname%></div>
          <div class="className"><%=user.class_id%></div>
        </div>
        <div class="dob-gender">
          <div class="dob">Ngày sinh: <%=user.birthday.getFullYear()%></div>
          <div class="gender">Giới tính: Nam</div>
        </div>
        <div class="hometown-relation">
          <div class="hometown">Quê Quán: <%=user.hometown%></div>
          <div class="relation">Tình trạng: Độc thân</div>
        </div>
        <div class="follow">
          <div class="followed"><%=user.followers%> người theo dõi</div>
          <div class="be-followed">Đang theo dõi 69 người</div>
        </div>
      </div>
    </div>

  